.store-locator {
  width: 90%;
  height: 40em;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  z-index: 1;
  pointer-events: auto !important;
}

.store-locator * {
  pointer-events: auto;
}
