.pb-container {
    background-color: #ffffff;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #1a1a1d;
}

.pb-header {
    background: #1a1a1d;
    padding: 2.5rem 0;
    border-bottom: 4px solid #d19f68;
}

.pb-tabs-nav {
    display: flex;
    gap: 0.5rem;
    border-bottom: 2px solid #f2f2f2;
    margin: 2rem 0;
    padding: 0;
    list-style: none;
}

.pb-tab-btn {
    background: none;
    border: none;
    padding: 18px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #888;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    height: auto;
}

.pb-tab-btn.active {
    background-color: #1a1a1d;
    color: #d19f68 !important;
}

.pb-tab-btn.active::after {
    display: none; 
}

.pb-card {
    background: #ffffff;
    border: 1px solid #eaeaea;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.03);
    transition: 0.3s;
}

.pb-card:hover {
    border-color: #d19f68;
}

.pb-appt-item {
    border-bottom: 1px dashed #e0e0e0;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pb-badge-time {
    border-left: 3px solid #d19f68;
    padding-left: 1rem;
    border-right: 3px solid  #d19f68;
    padding-right: 1rem;
}

.pb-title-dark {
    font-family: 'Oswald', sans-serif;
    color: #1a1a1d;
    text-transform: uppercase;
}

.pb-title-light {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
}

.pb-btn-outline {
  background: transparent !important;
  color: #d19f68;
  border: 2px solid #d19f68 !important;
  padding: 4px !important;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  border-radius: 12px !important;
  transition: 0.4s;
}

.pb-btn-outline-dark {
  background: transparent !important;
  color: #1a1a1d;
  border: 2px solid #1a1a1d !important;
  padding: 4px !important;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  border-radius: 12px !important;
  transition: 0.4s;
}

.pb-btn-filled {
  background: #d19f68 !important;
  color: #fff;
  padding: 4px !important;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  border-radius: 12px !important;
  transition: 0.4s;
}
